{
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "never"],
    "semi-style": ["error", "first"],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "only-multiline"],
    "space-before-function-paren": "off",
    "no-return-assign": "off",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }]
  }
}
